{% extends 'base.html' %}
{% load static %}
{% block title %} | Login {% endblock %}
{% load socialaccount %}
{% providers_media_js %}
{% block content %}

<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Страница авторизации</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Вернутся на главную</a></li>
                <li class="active">Авторизация</li>
            </ul>
        </div>
    </div>
</div>

<!-- Contact section start -->
<div class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-section">
                    <div class="logo-2">
                        <a href="index.html">
                            <img src="{% static 'img/logos/black-logo.png' %}" alt="logo">
                        </a>
                    </div>
                    <h3>Введите логин и пароль</h3>
                    {% include 'includes/messages.html' %}
                    <form action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group form-box">
                            <input type="username" name="username" class="input-text" placeholder="Логин" required>
                            <i class="flaticon-mail"></i>
                        </div>
                        <div class="form-group form-box">
                            <input type="password" name="password" class="input-text" placeholder="Пароль" required>
                            <i class="flaticon-lock"></i>
                        </div>
                        <div class="form-group mb-0 clearfix">
                            <button type="submit" class="btn-md btn-theme float-left">Войти</button>
                        </div>

                    </form>
                    <p><br>У вас нет учетной записи? <a href="{% url 'register' %}" class="thembo"> Зарегистрируйтесь здесь</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact section end -->

{% endblock %}